html, body {
	font-size: 1em;
	font-color: #111;
	font-family: arial;
	background-color: #fff;
}
#form {
	border-top: 1px solid #111;
}
#wrapper {
	width: 400px;
	margin: auto;
}
#form textarea {
	width: 100%;
	height: 6em;
}
#content {
	width: 80%;
	min-width: 400px;
	max-width: 1024px;
	margin: auto;
}
#list-items {
	border-collapse: collapse;
	width: 100%;
	min-width: 400px;
	font-size: 0.9em;
}
#list-items td {
	border: 1px solid #555;
	padding: 4px;
}
#list-items th {
	background-color: #eee;
	border: 1px solid #555;
}
.preview {
	width: 240px;
}
.notice {
	color: #4c4;
}
.error {
	color: indianred;
}