html, body {
    font-size: 1em;
    font-color: #111;
    font-family: arial;
    line-height: 1em;
    background-color: #fff;
    margin: 0;
    height: 100%;
}
.sitename {
    font-size: 1.5em;
    font-weight: bold;
    color: #111;
    margin-top: 20px;
    text-align: center;
}
header {
    background: #eee;
    border-bottom: 1px solid #888;
    height: 76px;
    overflow: auto;
}
footer {
    height: 60px;
    background: #eee;
    min-width: 400px;
    max-width: 1024px;
    margin: auto;
    overflow: auto;
    border-top: 1px solid #888;
}
.copy {
    margin: 20px auto 0;
    text-align: center;
}
#wrapper {
    min-height: 100%;
    min-width: 400px;
    max-width: 1024px;
    margin: auto auto -61px;
}
#content {
    padding-bottom: 61px;
}
.narrow {
    width: 400px;
    margin: auto;
}
#form {
    border-top: 1px solid #111;
}
#form textarea {
    width: 100%;
    height: 6em;
}
#list-items {
    border-collapse: collapse;
    width: 100%;
    min-width: 400px;
    font-size: 0.9em;
}
#list-items td {
    border: 1px solid #555;
    padding: 8px;
}
#list-items th {
    background-color: #eee;
    border: 1px solid #555;
    padding: 8px;
}
.preview {
    width: 300px;
    margin-left: 15px;
}
.notice {
    color: #4c4;
}
.error {
    color: indianred;
}
.caption {
    font-size: 1.5em;
    font-weight: bold;
    color: #111;
    margin: 25px 15px 15px;
}
.description {
    width: 100%;
    border-spacing: 0;
}
.description tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
.description tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
}
.description tr:first-child td:last-child {
    border-top: 1px solid #ccc;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}
.description tr:first-child td:first-child {
    border-top: 1px solid #ccc;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
}
.property, .value {
    width: 50%;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.value {
    border-right: 1px solid #ccc;
}
#progressBox {
    border: 1px solid #555;
    width: 100%;
    height: 20px;
}
#progressBar {
    height: 100%;
    width: 0px;
    background: #338;
    float: left;
}