{% extends "main.twig" %}

{% block title %}FileSharing &mdash; access denied{% endblock title %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/not-found.css">
{% endblock head %}

{% block content %}
  <div class="center-container">
    <h1>Access denied</h1>
    <img src="/image/you_shall_not_pass.jpg"
    alt="you shall not pass!" class="img-responsive img-rounded center-block">
  </div>
{% endblock content %}
