{% extends "main.twig" %}

{% block title %}FileSharing &mdash; page not found{% endblock title %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/not-found.css">
{% endblock head %}

{% block content %}
  <div class="center-container">
    <h1>The requested page was not found...</h1>
    <img src="/image/monkey_not_found.jpg" alt="sad picture: 404 not found"
    class="img-responsive img-rounded center-block">
  </div>
{% endblock content %}
