<div class="file-description panel panel-primary">
    <div class="panel-heading">Image preview</div>
    <a href="{{ viewHelper.getUploadUrl(file.id, file.name) }}" target="_blank">
        <img src="{{ viewHelper.getPreviewUrl(file.id) }}"
            alt="image preview"
            class="img-responsive center-block img-rounded">
    </a>
</div>
