<div class="caption">Image preview</div>
<div class="image-preview">
    <a href="/{{callStaticMethod(
        '\\Storage\\Helper\\ViewHelper',
        'getUploadPath',
        [file.id, file.name]) }}"
        target="_blank">
        <img src="../{{callStaticMethod(
            '\\Storage\\Helper\\ViewHelper',
            'getPreviewPath',
            [file.id]) }}"
            alt="image">
        <br>in full resolution
    </a>
</div>
