<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>
  {% block head %}
    <link rel="stylesheet" href="/vendor-css/bootstrap.min.css">
    <script src="/vendor-js/jquery.min.js"></script>
    <script src="/vendor-js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">
  {% endblock head %}
</head>
<body>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">FileSharing</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/view">Files</a></li>
            {% if loginManager.isLogged() %}
              <li><a href="/account">Account</a></li>
            {% else %}
              <li><a href="/tos">TOS</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if loginManager.isLogged() %}
              <li>
                <form action="/logout" method="POST" name="logoutForm" class="logout-form">
                  <input type="submit" name="logoutForm[logout]" value="Logout">
                  <input type="hidden" name="logoutForm[csrf_token]"
                    value="{{ token|default('') }}">
                </form>
              </li>
            {% else %}
              <li><a href="/login">Sign in</a></li>
              <li><a href="/reg">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      {% block content %}{% endblock content %}

    </div><!-- end of wrapper2 -->
  </div><!-- end of wrapper1 -->

  <footer class="footer">
    <div class="container-fluid">
      <p class="text-muted">
        FileSharing 2015-{{"now"|date('Y')}}
        <br>
        &copy; All rights reserved
      </p>
    </div>
  </footer>

</body>
</html>
