{% extends "main.twig" %}

{% block title %}FileSharing &mdash; upload file{% endblock title %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/vendor-css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/vendor-css/component.css">
  <link rel="stylesheet" href="/css/upload_form.css">
  <script>
    (function (e,t,n) {
      var r = e.querySelectorAll("html")[0];
      r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2")
    })(document,window,0);
  </script>
{% endblock head %}

{% block content %}
<form action="/" method="POST" enctype="multipart/form-data"
  id="uploadForm" class="form-inline" name="upload">
  <div class="box">
    <p class="help-block">
      Click on the button below to choose a file or simply drop it here
    </p>
    <input type="file" required name="upload[file1]" id="file-1"
      class="inputfile inputfile-3" data-multiple-caption="{count} files selected">
    <label for="file-1">
      <i class="glyphicon glyphicon-upload"></i>
      <span>Choose a file&hellip;</span>
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="upload[agree]" id="agreeBox" checked>
      Agree with TOS
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default btn-lg">Upload</button>
  </div>
  <p class="text-danger">{{ uploadForm.errorMessage|default('') }}</p>
</form>

<script src="/vendor-js/custom-file-input.js"></script>
{% endblock content %}
