<tr>
    <td class="property">Play time</td>
    <td class="value">{{ file.mediaInfo.playtime }}</td>
</tr>
<tr>
    <td class="property">Resolution</td>
    <td class="value">
        {{ file.mediaInfo.resolution_x }} &times;
        {{ file.mediaInfo.resolution_y }}
    </td>
</tr>
<tr>
    <td class="property">Frame rate</td>
    <td class="value">{{ file.mediaInfo.frame_rate }}</td>
</tr>
