html, body {
    height: 100%;
}
.wrapper-1 {
    min-height: 100%;
    margin-bottom: -80px;
}
.wrapper-2 {
    padding-bottom: 80px;
}
.footer {
    text-align: center;
    padding: 15px 0;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: #ddd;
}
.navbar.navbar-inverse.navbar-static-top {
    margin-bottom: 0;
}
.file-description {
    margin: 30px auto;
    float: none;
}
.invisible {
    display: none;
}
@media (min-width: 992px) {
    .file-description {
        width: 66%;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .file-description {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .file-description {
        width: 100%;
    }
}
