.file-description {
    margin: 30px auto;
    float: none;
}
.file-description img {
    margin: 5px auto;
}
#jp_container_1, .comment-form {
    margin: auto;
}
.added {
    font-size: 12px;
    font-weight: bold;
}
.reply {
    float: right;
}
.level-1 {
    margin-left: 0px;
}
.level-2 {
    margin-left: 30px;
}
.level-3 {
    margin-left: 60px;
}
.comment-captcha {
    position: relative;
}
#commentForm input[type="submit"] {
    float: right;
}
#commentForm input[type="text"] {
    width: 240px;
}
#reply {
    position: absolute;
    right: 0px;
    top: 5px;
}
/*#reply[data-reply-id=""] {
    display: none;
}*/
.invisible {
    display: none;
}
@media (min-width: 992px) {
    .file-description {
        width: 66%;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .file-description {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .file-description {
        width: 100%;
    }
}
