.file-description {
    margin: 30px auto;
    float: none;
}
.file-description img {
    margin: 5px auto;
}
#jp_container_1 {
    margin: auto;
}
@media (min-width: 992px) {
    .file-description {
        width: 66%;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .file-description {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .file-description {
        width: 100%;
    }
}
